{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ToDo List | {% block title %}{% endblock title %}</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static "/css/bootstrap/css/bootstrap.min.css" %}">
</head>

<body>
    <!-- navbar -->
    {% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-5" href="../../../">My ToDo List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item active">
              <a href="../add_todo/" class="nav-link">Add Todo</a>
            </li>
            <li class="nav-item active">
              <a href="../my_todo/" class="nav-link">My Todo</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-danger" href="../../../logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-5" href="../../../">My ToDo List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item active">
              <a class="nav-link" href="../../../login/">Login</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="../../../register/">Register</a>
            </li>
          </ul>
        </div>
      </nav>
    {% endif %}
    

    {% block content %}
    {% endblock content %}

    <!-- bootstrap javascripts -->
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- jquery javascripts -->
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
</body>

</html>